PORT=5000
MONGO_URI="mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority"
DB_NAME="weather_analytics"
MODEL="Xenova/bge-small-en-v1.5"

# Security & Admin Authentication
JWT_SECRET="mausamvani_super_secret_jwt_key_2026"
ADMIN_EMAIL="admin@mausam.gov.in"
ADMIN_PASSWORD="Admin@123"

# OpenRouter AI Translation Key
OPENROUTER_API_KEY="sk-or-v1-your-openrouter-api-key"
OPENROUTER_MODEL="google/gemini-2.0-flash-lite-001"

# Official IMD API Gateway (https://api.imd.gov.in)
IMD_API_KEY=""
IMD_AUTH_TOKEN=""
